:root{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: white;
}

.container {  display: grid;
    grid-template-columns: 0.5fr 0.9fr 0.8fr 0.6fr repeat(2, 0.7fr) repeat(2, 1fr) 1.4fr 1.1fr 1fr repeat(2, 0.7fr) 1fr 0.8fr 0.5fr;
    grid-template-rows: 0.3fr repeat(4, 1fr) 0.5fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.logo{
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    justify-content: right;
}

.logomicrosoft{
    width: 11rem;
    height: 2rem;
}
  
.imágenes{ 
    grid-area: 1 / 4 / 2 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.vídeos{
    grid-area: 1 / 5 / 2 / 6; 
    display: flex;
    justify-content: right;
    align-items: center;
}
  
.trespuntos{
    grid-area: 1 / 6 / 2 / 7; 
    display: flex;
    justify-content: right;
    align-items: center;
}

svg{
    width: 2rem;
    height: 1.5rem;
}
  
.menú{
    grid-area: 1 / 16 / 2 / 17; 
    display: flex;
    justify-content: left;
    align-items: center;
}
  
.iconorewards{ 
    grid-area: 1 / 14 / 2 / 16; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.iconoperfil{
    grid-area: 1 / 12 / 2 / 14; 
    display: flex;
    justify-content: right;
    align-items: center;
}
  
.idiomas{ 
    grid-area: 1 / 11 / 2 / 12; 
    display: flex;
    justify-content: right;
    align-items: center;
}

.buscador{
    height: 5vh;
    grid-area: 3 / 7 / 4 / 12;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    display: flex;
}
  
.barrabusqueda{  
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

input{
    width:90%;
    height: 80%;
    margin-left: 3%;
    outline: none;
    border: none;
    color: black;
    font-size: 1.5rem;
}
  
.iconos{  
    height: 5vh;
    width: 20%;
    justify-self: right;
    display: flex;
    justify-content: right;
    align-items: center;
}
  
.imagenes{ 
    grid-area: 5 / 1 / 6 / 17; 
    display: flex;
    height: 15vh;
}

.imagenes img{
    margin: 1%;
    box-shadow: 5px 10px 20px black;
}
  
.barraimagenes{ 
    grid-area: 4 / 14 / 6 / 17; 
    width: 100%;
    height: 20%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraimagenes div{
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50%;
    border-radius: 10px;
}

.footer{  
    grid-area: 6 / 1 / 7 / 17;
    grid-template-columns: 1;
    grid-template-rows: 0.5fr;
    width: 100vw;
    height: 12vh;
    background-color: #333333bd;
    align-items: center;
    display: flex;
}

.footer .izq{
    justify-self: left;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.izq a{
    margin-left: 1%;;
    text-decoration: none;
}

.izq a:hover{
    text-decoration: underline;
}

.footer .der{
    height: 100%;
    width: 20%;
    justify-self: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
  